* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  background-image: url(../image/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100% 100%;
 font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav {
  background-color: #0082e6;
  line-height: 100px;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  top: 0;
  position: fixed;
  z-index: 1000;
}

label.header {
  color: white;
  font-size: calc(20px + 2vw);
  padding: 0 30px;
  font-weight: bolder;
}

.header span {
  display: inline-block;
}

.header span:first-child {
  color: lightgreen;
}

.header span:last-child {
  color: skyblue;
}

section {
  margin: 25px;
  margin-top: 200px;
}

button {
  background-color: #0082e6;
  padding: 0 30px;
  line-height: 80px;
}

a {
  font-weight: bolder;
  text-transform: uppercase;
  font-size: calc(10px + 1vw);
  color: white;
}

audio {
  width: 500px;
  margin-top: 100px;
}

video {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

div.left {
  float: left;
}

div.right {
  float: right;
}

button.left {
  margin-top: 128px;
}

div.home {
  text-align: right;
}

section.left {
  float: left;
}

section.right {
  float: right;
}

h2 {
  text-align: center;
}

.container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 20px 10px rgba(0, 0, 0, 0.3);
  width: 500px;
  margin: 0 auto;
}

.form {
  padding: 20px 40px;
}

.form-control {
  margin-top: 10px;
  padding-bottom: 20px;
  position: relative;
}

.form-control label {
  color: #777;
  display: block;
  margin-bottom: 5px;
}

.form-control input {
  border: 2px solid #f0f0f0;
  border-radius: 4px;
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 14px;
}

.form-control input:focus {
  outline: 0;
  border-color: #777;
}

.form button {
  cursor: pointer;
  background-color: #3498db;
  border: 2px solid #3498db;
  color: #fff;
  display: block;
  font-size: 16px;
  line-height: 40px;
  width: 100%;
}

.form h2 {
  margin: 0 0 20px;
}